.container {

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;


}

.logo {
    font-size: 48px;
    font-weight: 600;

}

.menu {
    font-size: 23px;
    color: gray;
    text-decoration: none;
    padding: 100px;
    word-spacing: 20px;

}

.icon1 {
    height: 50px;
    width: 50px;
}

.icon2 {
    height: 50px;
    width: 50px;
}

.git_sect1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 300px 200px;
    text-align: left;
    padding-left: 150px;
    padding-right: 150px;

}

.gitimg1 {
    grid-row: 1/4;
    grid-column: 2/3;
    height: 698px;
    width: 465px;
}

.button_sect1 {
    width: 207px;
    height: 78px;
    color: white;
    background-color: #F7515C;
    font-size: 22px;
    font-weight: 600;
}

.h2 {
    font-size: 55px;
    font-weight: 700;
}

.text {
    color: #F7515C;
    font-size: 20px;
    font-weight: 700;
    align-self: end;

}

.git_sect2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 200px 150px 350px;
    text-align: left;
    column-gap: 500px;
    padding-left: 150px;
    padding-right: 150px;
}

.gitimg2 {
    grid-row: 1/5;
    grid-column: 1/2;
    height: 698px;
    width: 465px;
}

.button_sect2 {
    width: 207px;
    height: 78px;
    color: white;
    background-color: #F7515C;
    font-size: 22px;
    font-weight: 600;
    align: start;
}

.emptytext {
    font-weight: 700;
    color: grey;
    font-style: bold;

    stroke: solid black;
    font-size: 100px;
}

.greytext {
    font-weight: 400;
    color: #282A3080;

    font-size: 22px;
}

.git_sect3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 300px 650px;
    text-align: left;
    column-gap: 500px;
    padding-left: 150px;
    padding-right: 150px;
}

.h3 {
    font-size: 40px;
    font-weight: 600;
}


.bigpic {
    align-self: center;
    padding-left: 250px;
}

.git_sect4 {
    display: grid;
    grid-template-columns: 12fr 1fr 1fr;
    grid-template-rows: 40px 200px;
    text-align: left;
    align-self: left;
    padding-left: 150px;
    padding-right: 150px;


}

.text2 {
    grid-row: 1/2;
    grid-column: 1/4;
    font-size: 40px;
    font-weight: 600;

}

.emptytext1 {
    grid-row: 2/3;
    grid-column: 1/2;
    font-weight: 700;
    color: grey;
    font-style: bold;

    stroke: solid black;
    font-size: 100px;
}


.lefticon {
    grid-row: 2/3;
    grid-column: 2/3;
}

.righticon {
    grid-row: 2/3;
    grid-column: 3/4;
}



.gitcontainer {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px 27px;
    gap: 1rem;
    align-items: stretch;
    text-align: center;

}

.goods {
    height: 500px;
    width: 450px
}

.name {
    font-weight: 700;
    font-size: 25px;
}

.price {
    font-weight: 600;
    font-size: 25px;
    color: #282A304D;
}


.git_sect5 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 150px 250px 400px;
    text-align: left;
    padding-left: 150px;
    padding-right: 150px;
}

.text_5 {
    font-size: 100px;
    font-weight: 700;
}

.gitimg5 {
    grid-row: 1/4;
    grid-column: 2/3;
    height: 714px;
    width: 506px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 27px 27px 27px;
    gap: 1rem;
    align-items: stretch;
    text-align: left;
    padding-left: 150px;
    padding-right: 150px;
}

.name {
    font-size: 26px;
    font-weight: 600;

}

.onecolumn {
    grid-row: 2/5;
    grid-column: 1/2;
    color: #282A30CC;
}

.textcolor {
    color: #282A30CC;

}